body {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/images/minecraft-nether-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    position: fixed;
    z-index: 2;
}

#start-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 38, 38, 0.5);
}

#start-button {
    font-size: 1.5em;
    font-weight: 800;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border: 0.22em solid black;
    background-image: url(./assets/images/minecraft-dirt-background.jpg);
    cursor: pointer;
    text-align: center;
}

#game-options {
    height: 7vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-weight: bold;
    background-image: url(./assets/images/minecraft-stone-background.jpg);
    border: 0.22em solid black;
}

#game-area {
    position: relative;
    z-index: 1;
    width: 75vw;
    height: 75vh;
    background-image: url(./assets/images/minecraft-sand-background.jpg);
    border: 0.33em solid black;
}

.monster {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: pointer;
}

.gameEndArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(39, 38, 38, 0.5);
}

.end-message {
    position: absolute;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    width: fit-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 0.22em solid black;
    background-image: url(./assets/images/minecraft-bedrock-background.jpg);
    z-index: 2;
    text-align: center;
}