body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    position: fixed;
    z-index: 2;
}

#start-back {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.05%;
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 38, 38, 0.5);
}

#start-button {
    font-size: 1.4em;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-color: blue;
    background-color: lightblue;
    border-radius: 1.5em;
    cursor: pointer;
    text-align: center;
}

#game-options {
    display: flex;
    width: 75vw;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-weight: bold;
    background-color: cornflowerblue;
    border: 0.33em solid blue;
}

#game-area {
    position: relative;
    z-index: 1;
    width: 75vw;
    height: 75vh;
    background-color: rgb(172, 238, 172);
    border: 0.33em solid darkgreen;
}

.monster {
    background-image: url("./assets/images/skeleton.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 17.7%;
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: pointer;
}

.gameEndArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(39, 38, 38, 0.5);
}

.end-message {
    position: absolute;
    font-size: 1.4em;
    width: fit-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: solid blue;
    background-color: lightblue;
    border-radius: 1.5em;
    z-index: 2;
    text-align: center;
}

/* @media (max-width: 1400px) {
    #start-button {
        font-size: 1.2em;
    }

     .end-message {
        padding-left: 1.5em;

    }
}

@media (max-width: 850px) {
    #start-button {
        font-size: 1em;
    }

    .end-message {
        padding-left: 0em;
        font-size: 1.2em;
    }
}

@media (max-width: 700px) {
    #start-button {
        font-size: 0.8em;
    }

    .end-message {
        left: 35%;
        width: 20vw;
        height: 4vh;
        padding-top: 0.75em;
        padding-bottom: 0.6em;
        padding-left: 0;
        padding-right: 0;
    }
} */